<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="">
    <meta name="author" content="www.dethemes.com">
    <title>NATHÁLIA &amp; GUSTAVO</title>
    <link rel="icon" href="images/favicon.jpg">

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" =>true %>

    <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    
    <!-- Skin CSS -->
  <!-- <link href="css/skin/light-teal/light-teal.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/skin/light-teal/light-teal-reverse-navbar.css" rel="stylesheet" media="screen"> -->
    <!-- <link href="css/skin/pattern/pattern-1.css" rel="stylesheet" media="screen"> -->
  </head>
  <body class="outside-bottom-bar-page">


    <%= render partial: "shared/flash_messages", flash: flash %> 
    <%= yield %>

    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerwithlabel/src/markerwithlabel.js"></script>
    <%= javascript_include_tag "application" %> 
  </body>
</html>
